{% extends "base.html" %}

{% block title %}Listado de Perros{% endblock %}

{% block content %}
    <h1>Información de los Perros</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Raza</th>
        </tr>
        {% for perro in perros %}
        <tr>
            <td>{{ perro.get_nombre_perro()}}</td>
            <td>{{ perro.get_edad_perro()}}</td>
            <td>{{ perro.get_raza_perro()}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}